<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <style>
            table{
        border-collapse: collapse;
        width: 100%;
        margin:auto;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #f4f4f4;
    }
    </style>
</head>
<body>
    <h2>Lista de Clientes</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Documento Identidad</th>
        </tr>
        {% for c in clientes %}
        <tr>
            <td>{{ c.id_cliente }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.telefono }}</td>
            <td>{{ c.documento_identidad }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    
    <br><a href="/">Volver</a>
</body>
</html>